DATABASE_URL="postgresql://pharmassist:pharmassist@localhost:5433/pharmassist?schema=public"
TEST_DATABASE_URL="postgresql://pharmassist:pharmassist@localhost:5433/pharmassist_test?schema=public"
JWT_SECRET="replace-me-with-at-least-32-characters-of-random"
PORT=3000
NODE_ENV=development
